



<div class="jumbotron">
    	<h1 class="animated bounceInRight">The Force</h1>
    	
    </div>


   <div class="container-fluid mission">
    	<div class="row">
    		<a name="mission"></a>
    		<h3>  This is your one-stop-shop for all the stats on everybody's favorite thing ever, STAR WARS. </br> Seriously. There is a TON of info here.
    	</div>

    </div>

    <footer class="container-fluid" >
	<p>&copy; Wookie Works 2015</p>
