<div class="jumbotron">
    	<h1 class="animated fadeInDown"> Urban Dharma</h1>
    	
    </div>


    <div class="container-fluid mission">
    	<div class="row">
    		<a name="mission"></a>
    		<h3>  Urban Dharma NC's mission is to foster a deeper understanding of the teachings of the Buddha, <br>build meaningful community, and integrate contemplative teachings into everyday, ordinary life <br>by providing a welcoming and educational space in downtown Asheville. </h3>
    	</div>

    </div>

    <div class="container features">
    	<div class="row">
    		<div class="col-xs-12 col-sm-4">
    			<a href="#"><img class="img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/3/3f/Coffee_Beans.jpg"></img></a>
    			<p> The freshest locally sourced coffee. Organic and Fair Trade certified</p>	
    		</div>
    		
    		<div class="col-xs-12 col-sm-4">
    			<img class="img-responsive" src="https://static.pexels.com/photos/2709/restaurant-coffee-cup-cappuccino-large.jpg"></img>
    			<p> A perfect environment to meet with a friend or be alone and get work done.</p>
    		</div>

    		<div class="col-xs-12 col-sm-4">
    			<img class="img-responsive" src="https://static.pexels.com/photos/5362/restaurant-hands-people-coffee-large.jpg"></img>
    			<p> Quality hand-crafted espresso shots pulled with the greatest of care.</p>
    		</div>
    		

    	</div>

    </div>

<footer class="container-fluid" >
	<p>&copy; Good Coffee Co. 2014</p>
	<ul>
		<li><a href="#">About</a></li>
		<li><a href="#">Location</a></li>
		<li><a href="#">Coffee</a></li>
	</ul>
</footer>