<h1>Pages#programs</h1>
<p>Find me in app/views/pages/programs.html.erb</p>
<p>Weekly Programs list<br>
	hours
	<BR>
		Lamp offering services
		<BR>
			Other Groups using the space
			<BR>
			</p>
			<BR><BR><BR>
				<p>CALENDAR</p>
